{{- $hero        := .Site.Params.hero }}
{{- $clientLogos := index $hero "clientlogos" }}
<div class="hero-foot mb-20">
  <div class="container">
        <div class="title-wrapper has-text-centered">
      <h2 class="title is-3">Our Partners</h2>
      <div class="divider is-centered"></div>
    </div>
    <div class="tabs is-centered">
      <ul>
        {{- range $clientLogos }}
        <li>
          <a>
            <img class="partner-logo" src="{{ printf "/images/logos/clients/%s" . | relURL }}">
          </a>
        </li>
        {{- end }}
      </ul>
    </div>
  </div>
</div>